@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

:root {
	--primary-color: hsl(223, 87%, 63%);
	--primary-color-light: hsl(223, 77%, 73%);
	--text-box-color: hsl(223, 100%, 88%);
	--light-text-color: hsl(0, 0%, 59%);
	--dark-text-color: hsl(209, 33%, 12%);
	--error-color: hsl(354, 100%, 66%);
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 20px;
	font-family: 'Libre Franklin';
	text-align: center;
}

header {
	margin: 75px 0px 65px 0px;
}

#logo {
	margin-bottom: 40px;
}

#heading {
	margin-bottom: 15px;
	font-weight: 300;
	color: var(--light-text-color);
}

.bold-heading {
	font-weight: 700;
	color: var(--dark-text-color);
}

#subscribe {
	font-weight: 300;
	color: var(--dark-text-color);
	font-size: 1em;
}

#email {
	border-color: var(--text-box-color);
	border-style: solid;
	border-width: 1px;
	border-radius: 50px;
	padding: 15px;
	padding-left: 30px;
	font-size: .8em;
	width: 310px;
	color: var(--dark-text-color);
	transition: border-color 400ms;
}

#email:focus {
	outline: none;
}

#email::placeholder {
	color: var(--text-box-color);
	font-weight: 300;
	transition: color 400ms;
}

#signup-button {
	background-color: var(--primary-color);
	border-style: none;
	padding: 15px;
	border-radius: 50px;
	color: white;
	width: 150px;
	margin-left: 15px;
	box-shadow: 0px 0px 20px -5px var(--primary-color);
	transition: background-color 200ms;
}

#signup-button:hover {
	background-color: var(--primary-color-light);
}

#illustration {
	margin-top: 70px;
	max-width: 500px;
	height: auto;
	width: 100%;
}

#copyright {
	font-size: .7em;
	color: var(--light-text-color);
	margin-bottom: 25px;
}

.socials {
	color: var(--primary-color);
	display: flex;
	justify-content: center;
	gap: 20px;
	margin-bottom: 25px;
}

.socials i {
	width: 1.5em;
	height: 1.5em;
	padding: 5px;
	border-style: solid;
	border-radius: 50%;
	border-width: 1px;
	border-color: hsla(0, 0%, 59%, 0.26);
	font-size: 1em;
	line-height: 1.5em;
	transition: border-color 200ms, background-color 200ms, color 200ms;
}

.socials i:hover {
	background-color: var(--primary-color);
	background-color: var(--primary-color);
	color: white;
}

footer {
	position: absolute;
	left: 50%;
	bottom: 10px;
	transform: translateX(-50%);
}

.error {
	color: var(--error-color);
	font-size: .7em;
	position: relative;
	right: 120px;
	opacity: 0;
	transition: opacity 400ms;
	font-style: italic;
}

@media (max-width: 530px) {
	body {
		margin: 20px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	#email {
		display: block;
		width: 100%;
		box-sizing: border-box;
	}
	#signup-button {
		width: 100%;
		margin: 0;
		margin-top: 30px;
	}
	.error {
		right: 0px;
		bottom: 80px;
	}
	footer {
		position: relative;
		left: 0px;
		bottom: 0px;
		transform: unset;
		margin-top: 30px;
	}
}

@media (max-height: 900px) {
	footer {
		position: relative;
		left: 0px;
		bottom: 0px;
		transform: unset;
		margin-top: 30px;
	}
}